@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Assistant', sans-serif;
    display: flex;
    flex-direction: column;
}

.btn {
    height: 48px;
    width: 174px;
    border-radius: 12px;
    font-size: 22px;
}

.button-hire-me {
    background-color: #6C63FF;
}

.button-more-project {
    display: flex;
    justify-content: center;
    margin: 2em auto;
    background-color: #23006D;
}

.section-header {
    background-color: #190032;
    min-height: 100vh;
    height: 100%;
}

.nav-link {
    color: #E8CFCF !important;
    font-size: 20px;
    text-transform: uppercase;
}

.jumbotron {
    color: #E8CFCF !important;
    background: none;
    text-transform: uppercase;
}

.jumbotron .typography {
    font-size: 35px;
    font-weight: 700;
    max-width: 12em;
    width: 100%;
}

.img-illustration {
    min-width: 13em;
    width: 100%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: cubic-bezier(0, 0, 0, 0);
}

@keyframes bounce-1 {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: rotate(-deg);
    }
    50% {
        transform: translateY(6px);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

.section-about-skill {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.section-about-skill h2 {
    color: #1C1C1C;
    font-weight: 700;
    font-size: 35px;
}

.section-about-skill h4 {
    color: #585858;
    font-weight: 600;
    font-size: 25px;
}

.section-about-skill p {
    font-size: 25px;
    color: #A7A7A7;
    font-weight: 400;
}

.section-about-skill img {
    display: flex;
    align-items: center;
}

.box {
    height: 200px;
    width: 200px;
    text-align: center;
    padding: 2em;
    margin: 1em auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 2px 6px 22px rgba(0, 0, 0, 0.25);
}

.box span {
    font-size: 25px;
    font-weight: 600;
    color: #8D8989;
}

.section-project {
    background: #F8F8F8;
    min-height: 100vh;
    align-items: center;
}

.section-project h2 {
    color: #1C1C1C;
    font-weight: 700;
    font-size: 35px;
}

.section-project h4 {
    color: #585858;
    font-weight: 600;
    font-size: 25px;
}

.section-project p {
    font-size: 25px;
    color: #A7A7A7;
    font-weight: 400;
}

.section-project img {
    width: 100%;
    border-radius: 12px;
}

.section-project h5 {
    font-size: 30px;
    color: #1C1C1C;
    font-weight: 600;
}

.section-project a {
    font-size: 25px;
    color: #6C63FF;
}

.section-blog {
    align-items: center;
    min-height: 80vh;
}

.section-blog h2 {
    color: #1C1C1C;
    font-weight: 700;
    font-size: 35px;
}

.section-blog h4 {
    color: #585858;
    font-weight: 600;
    font-size: 25px;
    align-items: center;
}

.section-blog .section-box {
    height: 309px;
    width: 309px;
    box-shadow: 2px 6px 22px rgba(0, 0, 0, 0.25);
    background-size: cover;
    border-radius: 12px;
    margin: 0 auto;
    color: white;
    text-overflow: ellipsis !important;
}

.box-1 {
    background: url(../img/bg-blog-1.png)no-repeat;
}

.box-2 {
    background: url(../img/bg-blog-2.png)no-repeat;
}

.box-3 {
    background: url(../img/bg-blog-3.png)no-repeat;
}

.section-blog .section-box p {
    position: absolute;
    bottom: 0;
    margin-left: .4em;
    max-width: 277px;
    max-height: 65px;
    font-size: 27px;
}

.section-footer {
    background-color: #190032;
    min-height: 40vh;
    display: flex;
    color: #E8CFCF;
    align-items: center;
    justify-content: center;
}

.section-footer .row p {
    font-size: 30px;
    font-weight: 600;
}

.section-footer .row span {
    font-size: 20px;
}

.section-footer .row a:first-child {
    font-size: 50px;
    font-weight: 600;
    margin: 0 15px;
}

.section-footer .row a:last-child {
    font-size: 50px;
    font-weight: 600;
}

@media(max-width:767px) {
    .column-reverse {
        flex-direction: column-reverse;
    }
    .section-about-skill .avatar {
        display: none;
    }
    h2, h4 {
        text-align: center;
    }
}

@media(min-width:768px) {
    .jumbotron .typography {
        margin-top: 2.2em;
    }
}

@media(max-width:350px) {
    .jumbotron .typography {
        font-size: 20px;
    }
}